<!DOCTYPE html>
<html>
<head>
    <title>AM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="radio">
    
        <h1>Lista de Emisoras AM</h1>
        {% for AM in AM %}
            <div class="boton">
                <a href="{{ url_for('reproducirAM', AM_id=AM['nombre']) }}"><button>{{ AM['nombre'] }}</button></a>
            </div>
        {% endfor %}
        <br><br>
        <div class="boton"><a href="/"><button class="volver">Volver</button></a></div>
    
</body>
</html>
