<!DOCTYPE html>
<html>
<head>
    <title>Reproducción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Reproduciendo: {{ Mundial['nombre'] }}</h1>
    <img src="{{ url_for('static', filename='radio_fondo.png') }}" alt="Icono de Radio">
    <div class="reproductor">
        <audio controls>
        <source src="{{ Mundial.url }}" type="audio/mpeg">
        Tu navegador no admite la reproducción de audio.
        </audio>
    </div>
    <br><br>
    <div class="boton"><a href="/Mundial"><button class="volver">Volver</button></a></div>
</body>
</html>
